body{
  font-family: Roboto, sans-serif;
  color:rgba(0, 0, 0, 0.87);
}

ul li{
  list-style: none;
}

#main-container{
  margin: 40px auto;
  width:500px;
  max-height:700px;
  
}

.list{
  
  max-height:500px;
  overflow-y: scroll;
  overflow-x: hidden; 
  /*border: 1px dashed #bdbdbd;*/

}

.vertIcon{
  margin-top: 100px;
}

.list-item{

    /*border-bottom: 1px dashed #bdbdbd;*/

}

.list-item:hover {
  background: #f1f1f1;
}
.list-item .blocked {
  background: #2980b9;
}

.allow-title{

  float:right;
  padding-right:28px;
  padding-top:12px;
}

.allow-title h3{

  margin:0!important;
  font-weight: 100;
  font-size: 11pt;
  line-height: 36px;

}

.allow-title:after {
    content: '';
    display: block;
    clear: both;
}

#filter-popover-button-container{
  float: right;
  margin: 12px 0 12px 12px;
}

