ul{

}

ul li{
  list-style: none;
}

#main-container{
  margin: 40px auto;
  width:600px;
  height:400px;
  
}

.list{
  
  height:400px;
  overflow-y: scroll;
  border: 1px dashed #bdbdbd;

}

.vertIcon{
  margin-top: 100px;
}

.list-item{

    border-bottom: 1px dashed #bdbdbd;

}

/** {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: #2c3e50;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.filter-list {
  margin: auto;
  margin-top: 20px;
  width: 450px;
  background: #3498db;
  border-radius: 5px;
  border: 1px solid #196090;
}
.filter-list > input {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  border: 0;
  font-size: 24px;
}
.filter-list > input:focus {
  outline: none;
}
.filter-list ul {
  margin: 0;
  padding: 0;
}
.filter-list ul li {
  list-style-type: none;
  margin: 0;
  color: white;
  padding: 10px 20px;
  border-top: 1px solid #196090;
}
.filter-list ul li:hover {
  background: #2980b9;
}

.filter-list ul li input {
    width: 20px;
    float: left;
    margin-right: 10px;
}

.filter-list ul li span {
  display: inline-block;
  width: 70%;
  float:left;
  font-style: oblique;
  font-size: 16px;
  font-weight: 300;
  color: white;
  line-height: 23px;
}

.filter-list ul li img {
  display: inline-block;
  /*padding:10px;
  margin-left: 30px;*/
  width:80px;
  height:80px;
  float: right;
  border: 1px solid white;
}

.filter-list ul li p{
   margin-bottom: 0;
}

.filter-list ul li:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.username-signature{

    display: inline-block;
    float: right;
    padding-right: 30px;
    padding-top: 20px;

}

/*** Animations ***/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}*/